.git
.github
node_modules
apps/*/node_modules
packages/*/node_modules
apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/android/build
apps/mobile/.expo
apps/mobile/dist
apps/api/dist
packages/shared/dist
coverage
reports
npm-debug.log
.env
.env.*
!.env.example
!.env.production.example
